html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #fff;
  background-color: #1b1b1c;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #fff;
}

li {
  list-style: none;
}

.bg-white {
  background-color: #fff;
  color: #1b1b1c;
}

.u-top-wrap__img {
  width: 85%;
  height: 30dvh;
  margin-left: auto;
  margin-right: 0;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  .u-top-wrap__img {
    height: 16dvh;
  }
}
@media screen and (max-width: 480px) {
  .u-top-wrap__img {
    height: 60dvh;
  }
}
.u-top-wrap__img.__service {
  background-image: url("../img/service-fv.jpeg");
}
.u-top-wrap__img.__company {
  background-image: url("../img/top-company.jpeg");
}
.u-top-wrap__img.__case-study {
  background-image: url("../img/case-study-fv.jpeg");
}
.u-top-wrap__img.__news {
  background-image: url("../img/news-fv.jpeg");
}
.u-top-wrap__img.__contact {
  background-image: url("../img/contact-fv.jpeg");
}
.u-top-wrap__img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.u-top-wrap__img__ttl {
  position: absolute;
  top: 40%;
  left: -5%;
  transform: translateY(-50%);
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .u-top-wrap__img__ttl {
    bottom: 7.5%;
  }
}
@media screen and (max-width: 480px) {
  .u-top-wrap__img__ttl {
    top: 78%;
    left: -7.5%;
  }
}
.u-top-wrap__img__ttl h1 {
  font-size: clamp(1.5rem, 0.75rem + 2.5vw, 3rem);
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.u-top-wrap__img__ttl h1 span {
  font-size: clamp(0.75rem, 0.625rem + 0.42vw, 1rem);
  display: block;
  position: relative;
  margin-left: 50px;
  line-height: 3;
}
@media screen and (max-width: 768px) {
  .u-top-wrap__img__ttl h1 span {
    margin-left: 40px;
  }
}
@media screen and (max-width: 480px) {
  .u-top-wrap__img__ttl h1 span {
    margin-left: 30px;
  }
}
.u-top-wrap__img__ttl h1 span::before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
}
@media screen and (max-width: 768px) {
  .u-top-wrap__img__ttl h1 span::before {
    width: 25px;
    left: -40px;
  }
}
@media screen and (max-width: 480px) {
  .u-top-wrap__img__ttl h1 span::before {
    width: 20px;
    left: -30px;
  }
}

.breadcrumb-wrap__nav__list {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumb-wrap__nav__list__item a {
  font-size: clamp(0.688rem, 0.531rem + 0.52vw, 1rem);
}
.breadcrumb-wrap__nav__list__item a:hover {
  opacity: 0.7;
}
.breadcrumb-wrap__nav__list__item:not(:last-of-type):after {
  content: "-";
  margin: 0 10px;
  width: 1rem;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .breadcrumb-wrap__nav__list__item:not(:last-of-type):after {
    margin: 0 5px;
  }
}
@media screen and (max-width: 480px) {
  .breadcrumb-wrap__nav__list__item:not(:last-of-type):after {
    margin: 0 3.5px;
  }
}

.breadcrumb.__flip {
  background-color: #fff;
  color: #1b1b1c;
}
.breadcrumb.__flip a {
  color: #1b1b1c;
}

.breadcrumb-wrap__nav__list__item.__flip:not(:last-of-type):after {
  color: #1b1b1c;
}

.u-ttl {
  font-size: clamp(1rem, 0.25rem + 2.5vw, 2.5rem);
  display: inline-block;
}
.u-ttl span {
  font-size: clamp(0.625rem, 0.313rem + 1.04vw, 1.25rem);
  display: block;
  line-height: 2.5;
}

@media screen and (max-width: 480px) {
  .u-ttl-2 {
    text-align: center;
  }
}
.u-ttl-2__first {
  font-size: clamp(1rem, 0.25rem + 2.5vw, 2.5rem);
  margin-right: 1%;
  position: relative;
  border-bottom: 3px solid #0055df;
  padding-bottom: 1.4%;
  line-height: 2.5;
}
@media screen and (max-width: 480px) {
  .u-ttl-2__first {
    padding-bottom: 1.5%;
    border-bottom: 2px solid #0055df;
  }
}
.u-ttl-2__second {
  font-size: clamp(0.625rem, 0.438rem + 0.63vw, 1rem);
}

.u-ttl__sub {
  display: block;
  line-height: 1.4;
  font-size: clamp(0.625rem, 0.313rem + 1.04vw, 1.25rem);
}

.a-switch {
  padding-top: 5%;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .a-switch {
    padding-top: 7.5%;
  }
}
.a-switch-wrap {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .a-switch-wrap {
    justify-content: center;
    width: 87.5%;
  }
}
@media screen and (max-width: 480px) {
  .a-switch-wrap {
    width: 90%;
  }
}
.a-switch-wrap__block {
  width: 15%;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .a-switch-wrap__block {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .a-switch-wrap__block {
    width: 25%;
  }
}
@media screen and (max-width: 480px) {
  .a-switch-wrap__block {
    width: 41%;
  }
}
@media screen and (max-width: 480px) {
  .a-switch-wrap__block.__news {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .a-switch-wrap__block.__third {
    margin-right: 45vw;
  }
}
.a-switch-wrap__block__con {
  margin-right: 5%;
  margin-left: 5%;
}
@media screen and (max-width: 480px) {
  .a-switch-wrap__block__con {
    margin-right: 3.5%;
    margin-left: 3.5%;
    margin-bottom: 5%;
  }
}
.a-switch-wrap__block__con a {
  width: 100%;
  display: inline-block;
  border: 1px solid #1b1b1c;
  background-color: #fff;
  color: #1b1b1c;
  line-height: 3;
  position: relative;
  font-size: clamp(0.75rem, 0.607rem + 0.3vw, 0.875rem);
  font-weight: 500;
}
.a-switch-wrap__block__con a:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.45);
  transform: translateY(-5%);
}
.a-switch-wrap__block__con .__now {
  border: 1px solid #0055df;
  background-color: #0055df;
  color: #fff;
}

.a-page {
  background-color: #fff;
  color: #1b1b1c;
  padding-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .a-page {
    padding-bottom: 7.5%;
  }
}
@media screen and (max-width: 480px) {
  .a-page {
    padding-bottom: 12.5%;
  }
}
.a-page-wrap__btn__list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2%;
}
.a-page-wrap__btn__list__item a:hover {
  opacity: 0.7;
}
.a-page-wrap__btn__list__item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.75rem, 0.5rem + 0.83vw, 1.25rem);
  width: 2.25em;
  height: 2.25em;
  color: #1b1b1c;
}
.a-page-wrap__btn__list__item__link.__now {
  cursor: default;
  pointer-events: none;
  background-color: #1b1b1c;
  color: #fff;
}
.a-page-wrap__btn__list__item__link.__next {
  white-space: nowrap;
  width: 100%;
}
.a-page-wrap__btn__list__item__link.__next span {
  margin-right: 2%;
}
.a-page-wrap__btn__list__item__link.__next svg {
  color: #1b1b1c;
}

.e-page {
  box-sizing: border-box;
  padding-top: 2.5%;
  padding-bottom: 7.5%;
  background-color: #fff;
  color: #1b1b1c;
}
@media screen and (max-width: 768px) {
  .e-page {
    padding-bottom: 10.5%;
  }
}
@media screen and (max-width: 480px) {
  .e-page {
    padding-bottom: 15%;
  }
}
.e-page-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.e-page-wrap__block {
  width: 20%;
}
@media screen and (max-width: 1024px) {
  .e-page-wrap__block {
    width: 27.5%;
  }
}
@media screen and (max-width: 768px) {
  .e-page-wrap__block {
    width: 30%;
  }
}
@media screen and (max-width: 480px) {
  .e-page-wrap__block {
    width: 33%;
  }
}
.e-page-wrap__block__anker {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
}
@media screen and (max-width: 480px) {
  .e-page-wrap__block__anker {
    justify-content: center;
  }
}
.e-page-wrap__block__anker a {
  transition: all 0.3s;
}
.e-page-wrap__block__anker a:hover {
  opacity: 0.7;
}
.e-page-wrap__block__anker__txt {
  font-size: clamp(0.875rem, 0.563rem + 1.04vw, 1.5rem);
  color: #1b1b1c;
}
.e-page-wrap__block__anker.__second {
  justify-content: flex-start;
}
@media screen and (max-width: 480px) {
  .e-page-wrap__block__anker.__second {
    justify-content: center;
  }
}
.e-page-wrap__block__anker svg {
  font-size: clamp(0.875rem, 0.563rem + 1.04vw, 1.5rem);
  vertical-align: bottom;
  color: #1b1b1c;
}
.e-page-wrap__block__center {
  text-align: center;
}
.e-page-wrap__block__center a {
  transition: all 0.3s;
}
.e-page-wrap__block__center a:hover {
  opacity: 0.7;
}
.e-page-wrap__block__center__txt {
  font-size: clamp(0.875rem, 0.563rem + 1.04vw, 1.5rem);
  color: #1b1b1c;
}

.__rev {
  transform: rotate(180deg);
}
