html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #fff;
  background-color: #1b1b1c;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  color: #fff;
}

li {
  list-style: none;
}

.c-philo {
  border-top: 1px solid #fff;
  margin: 7.5% 0;
}
@media screen and (max-width: 480px) {
  .c-philo {
    margin: 12.5% 0;
  }
}
.c-philo-wrap__ttl {
  display: inline-block;
  padding: 0 1.5%;
  position: relative;
  left: 35px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #1b1b1c;
}
@media screen and (max-width: 480px) {
  .c-philo-wrap__ttl {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 480px) {
  .c-philo-wrap__ttl__sub {
    text-align: center;
  }
}
.c-philo-wrap__con {
  margin: 5% 0;
}
@media screen and (max-width: 768px) {
  .c-philo-wrap__con {
    margin: 10% 0;
  }
}
.c-philo-wrap__con__img {
  aspect-ratio: 2/1;
  width: 52.5%;
}
@media screen and (max-width: 768px) {
  .c-philo-wrap__con__img {
    width: 85%;
  }
}
.c-philo-wrap__con__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.c-philo-wrap__con__img.__first {
  margin-left: auto;
  margin-right: 0;
}
.c-philo-wrap__con__img.__second {
  margin-top: -15%;
}
@media screen and (max-width: 768px) {
  .c-philo-wrap__con__img.__second {
    margin-top: -5%;
  }
}
.c-philo-wrap__con__txt {
  width: 70%;
  background-color: #fff;
  box-shadow: 0 4px 15px #aaa;
  box-sizing: border-box;
  padding: 2% 3.5%;
  margin-top: -2.5%;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .c-philo-wrap__con__txt {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .c-philo-wrap__con__txt {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .c-philo-wrap__con__txt {
    width: 100%;
    padding: 3.5% 5%;
  }
}
.c-philo-wrap__con__txt p {
  color: #1b1b1c;
  font-size: clamp(0.813rem, 0.656rem + 0.52vw, 1.125rem);
  line-height: 1.6;
}

.c-greet {
  margin-top: 10%;
}
@media screen and (max-width: 480px) {
  .c-greet {
    margin-top: 22.5%;
  }
}
.c-greet-wrap__img {
  width: 25%;
  aspect-ratio: 10/11;
  margin-left: 10.75%;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .c-greet-wrap__img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 480px) {
  .c-greet-wrap__img {
    width: 50%;
  }
}
.c-greet-wrap__img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 75% 50%;
     object-position: 75% 50%;
}
.c-greet-wrap__body {
  margin-top: -28.5%;
  padding: 6% 0;
  background-color: #fff;
  color: #1b1b1c;
  -webkit-clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
          clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%);
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .c-greet-wrap__body {
    padding: 30% 0 7.5%;
    -webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
  }
}
@media screen and (max-width: 480px) {
  .c-greet-wrap__body {
    margin-top: -53%;
    padding: 55% 0 7.5%;
    -webkit-clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
            clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  }
}
.c-greet-wrap__body__con {
  width: 45%;
  margin-top: 2.5%;
  margin-left: auto;
  margin-right: 10.75%;
}
@media screen and (max-width: 768px) {
  .c-greet-wrap__body__con {
    margin-right: auto;
    width: 68%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .c-greet-wrap__body__con {
    width: 90%;
  }
}
.c-greet-wrap__body__con__ttl {
  display: inline-block;
  text-align: center;
}
.c-greet-wrap__body__con__txt {
  margin: 5% 0;
}
@media screen and (max-width: 768px) {
  .c-greet-wrap__body__con__txt {
    text-align: left;
  }
}
.c-greet-wrap__body__con__txt p {
  font-size: clamp(0.813rem, 0.656rem + 0.52vw, 1.125rem);
  line-height: 1.6;
}

.c-info {
  margin: 7.5% 0;
}
@media screen and (max-width: 480px) {
  .c-info {
    margin: 15% 0;
  }
}
.c-info-wrap {
  border-top: 1px solid #0055df;
}
.c-info-wrap__top__ttl {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 2;
  background-color: #1b1b1c;
  transform: translateY(-25%);
  padding: 0 1.5%;
}
@media screen and (max-width: 480px) {
  .c-info-wrap__top__ttl {
    left: 50%;
    transform: translate(-50%, -25%);
  }
}
.c-info-wrap__con {
  margin-top: 5%;
}
@media screen and (max-width: 480px) {
  .c-info-wrap__con__list hr {
    margin: 0.5em 0;
  }
}
.c-info-wrap__con__list__item {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
@media screen and (max-width: 1024px) {
  .c-info-wrap__con__list__item {
    padding: 0.25em 0;
  }
}
.c-info-wrap__con__list__item p {
  font-size: clamp(0.75rem, 0.625rem + 0.42vw, 1rem);
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .c-info-wrap__con__list__item p {
    font-size: clamp(0.563rem, 0.188rem + 1.88vw, 0.75rem);
  }
}
.c-info-wrap__con__list__item__left {
  width: 20%;
  padding-left: 5%;
}
@media screen and (max-width: 1024px) {
  .c-info-wrap__con__list__item__left {
    padding-left: 2.5%;
  }
}
@media screen and (max-width: 480px) {
  .c-info-wrap__con__list__item__left {
    width: 22%;
    padding-left: 1.5%;
  }
}

.c-map-wrap {
  height: 50dvh;
}
@media screen and (max-width: 1024px) {
  .c-map-wrap {
    height: 25dvh;
  }
}
.c-map-wrap iframe {
  display: block;
  width: 100%;
  height: 100%;
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
