@charset "UTF-8";
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #fff;
  background-color: #1b1b1c;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}

li {
  list-style: none;
}

.s-advantage {
  margin: 10% 0 15%;
}
.s-advantage-line {
  border-top: 1px solid #0055df;
  -webkit-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
          transform: skewY(-5deg);
  position: relative;
  z-index: -1;
}
.s-advantage-wrap__top__ttl {
  text-align: center;
  display: inline-block;
  background-color: #1b1b1c;
  padding: 0 2%;
}
.s-advantage-wrap__block {
  margin: 7.5% 0;
}
@media screen and (max-width: 480px) {
  .s-advantage-wrap__block {
    margin: 12.5% 0;
  }
}
.s-advantage-wrap__block__head h3 {
  font-size: clamp(1rem, 3.33vw, 3rem);
  position: relative;
  left: 5%;
}
.s-advantage-wrap__block__head h3::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 1em;
  background-color: #0055df;
  left: -5%;
}
.s-advantage-wrap__block__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 5% 0;
}
@media screen and (max-width: 480px) {
  .s-advantage-wrap__block__con {
    display: block;
  }
}
.s-advantage-wrap__block__con__img {
  width: 40%;
}
@media screen and (max-width: 480px) {
  .s-advantage-wrap__block__con__img {
    width: 60%;
    margin: 10% auto;
  }
}
.s-advantage-wrap__block__con__img img {
  width: 100%;
  height: 100%;
  display: block;
}
.s-advantage-wrap__block__con__txt {
  width: 55%;
}
@media screen and (max-width: 480px) {
  .s-advantage-wrap__block__con__txt {
    width: 100%;
  }
}
.s-advantage-wrap__block__con__txt p {
  font-size: clamp(0.813rem, 0.656rem + 0.52vw, 1.125rem);
  line-height: 1.6;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .s-advantage-wrap__block__con__txt p {
    font-size: clamp(0.625rem, 0.311rem + 1.05vw, 0.813rem);
  }
}
@media screen and (max-width: 480px) {
  .s-advantage-wrap__block__con__txt p {
    font-size: 13px;
  }
}
.s-advantage-wrap hr {
  border-top: 1px solid #0055df;
}

.s-content-wrap__ttl {
  border-bottom: 1px solid #fff;
  position: relative;
}
.s-content-wrap__body {
  margin-top: 7.5%;
  margin-bottom: 12.5%;
}
.s-content-wrap__body__block {
  margin-top: 12.5%;
  margin-bottom: 12.5%;
  width: 89.5%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .s-content-wrap__body__block {
    width: 91.5%;
  }
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block {
    display: block;
    width: 90%;
    margin-right: auto;
  }
}
.s-content-wrap__body__block.__second {
  margin-left: 0;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block.__second {
    width: 90%;
    margin-left: auto;
  }
}
.s-content-wrap__body__block__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 1024px) {
  .s-content-wrap__body__block__left {
    width: 50.5%;
    gap: 7.5%;
  }
}
@media screen and (max-width: 768px) {
  .s-content-wrap__body__block__left {
    gap: 7.5%;
  }
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block__left {
    width: 100%;
    margin-top: 7.5%;
  }
}
.s-content-wrap__body__block__left__ttl {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block__left__ttl {
    text-align: left;
  }
}
.s-content-wrap__body__block__left__ttl h3 {
  font-size: clamp(0.938rem, 0.406rem + 1.77vw, 2rem);
  text-shadow: 4px 4px 4px #0055df;
}
.s-content-wrap__body__block__left__ttl h3 span {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: clamp(1.75rem, 0.625rem + 3.75vw, 4rem);
  margin-right: 3.5%;
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block__left__head {
    margin: 5% 0;
  }
}
.s-content-wrap__body__block__left__head h4 {
  font-size: clamp(1rem, 3.33vw, 3rem);
  line-height: 1.4;
}
.s-content-wrap__body__block__left__txt p {
  font-size: clamp(0.813rem, 0.656rem + 0.52vw, 1.125rem);
  line-height: 1.6;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .s-content-wrap__body__block__left__txt p {
    font-size: clamp(0.625rem, 0.206rem + 1.39vw, 0.875rem);
  }
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block__left__txt p {
    font-size: 13px;
  }
}
.s-content-wrap__body__block__right {
  width: 45%;
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block__right {
    width: 100%;
  }
}
.s-content-wrap__body__block__right__img {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block__right__img {
    aspect-ratio: 2/1;
  }
}
.s-content-wrap__body__block__right__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* 画像をコンテナに合わせてカバー */
  display: block;
}
.s-content-wrap__body__block__right__img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 24px;
  left: -24px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}
@media screen and (max-width: 1024px) {
  .s-content-wrap__body__block__right__img::after {
    top: 12px;
    left: -12px;
  }
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block__right__img::after {
    top: 8px;
    left: -8px;
  }
}
.s-content-wrap__body__block__right__img.__second::after {
  left: 24px;
}
@media screen and (max-width: 1024px) {
  .s-content-wrap__body__block__right__img.__second::after {
    left: 12px;
  }
}
@media screen and (max-width: 480px) {
  .s-content-wrap__body__block__right__img.__second::after {
    left: 8px;
  }
}
.s-content-wrap__body__block__right__img__one {
  -o-object-position: 90% 50%;
     object-position: 90% 50%;
}
.s-content-wrap__body__block__right__img__two {
  -o-object-position: 47.5% 50%;
     object-position: 47.5% 50%;
}
.s-content-wrap__body__block__right__img__three {
  -o-object-position: 90% 50%;
     object-position: 90% 50%;
}
