$cWhite: #fff;

$cMain: #1b1b1c;

$cBlue: #0055df;

$cGray: #f5f5f5;

$cBlack: #000;

$cGray-light: #aaa;

$cGray-light2: #eee;

$cBlack-clear: rgb(0, 0, 0, 45%);

$cBlack-clear2: rgb(0, 0, 0, 25%);

$cBlack-clear3: rgb(0, 0, 0, 75%);

$cWhite-clear: rgb(255, 255, 255, 80%);
